:root {
    --background-color: rgb(210, 235, 255);
    --text-color: rgb(80, 80, 80);
    --text-color2: #fffdfa;
    --primary-color: rgba(140, 90, 255, 0.9);
    --secondary-color: rgb(200, 200, 200);
    --card-background-color: rgb(250, 250, 250);
    --button-background-color: rgba(140, 90, 255, 1);
    --button-bg-hover: rgba(140, 90, 255, 0.8);
  }
  
  .dark-mode {
    --background-color: #312f30;
    --text-color: #fffdfa;
    --text-color2: #fffdfa;
    --primary-color: #70613f;
    --secondary-color: rgb(70, 70, 70);
    --card-background-color: rgb(40, 40, 40);
    --button-background-color: #70613f;
    --button-bg-hover: #7e6f4c;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  header {
    background-color: var(--primary-color);
  }
  
  footer {
    background-color: var(--secondary-color);
  }
  
  .menu {
    background-color: var(--secondary-color);
  }
  
  span.dark,
  a.btn {
    color: var(--text-color);
  }
  
  div.shoppingCart {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .card {
    background-color: var(--card-background-color);
    color: var(--text-color);
    border: solid 2px var(--primary-color);
  }
  
  button.btn {
    background-color: var(--button-background-color);
    border: none;
  }
  
  button.btn:hover {
    background-color: var(--button-bg-hover);
    border: none;
  }
  
  .input-bordered {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: var(--text-color);
  }
  
  .hover-effect {
    border-radius: 16px;
  }
  
  .hover-effect:hover {
    box-shadow: 0 10px 20px rgba(140, 90, 255, 0.3),
      0 6px 6px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.1s ease-in-out;
  }
  
  #searchBar input {
    color: var(--text-color2);
    border: var(--primary-color);
    border-radius: 12px;
    padding: 10px;
    width: 100vh;
    box-sizing: border-box;
  }
  
  #searchBar input::placeholder {
    color: var(--text-color2);
  }
  